/* FONT: Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
/* --- */
/* BODY */
body {
    background: #f8f9fa;
    font-family: 'Roboto';
    font-weight: 300;
}

/* Navbar */
.secondNavbar {
    background: #fff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    display: flex;
}

.secondNavItem {
    padding: .5rem 1rem;
    font-size: .875rem;
    color: #6c757d;
}
.secondNavItem:hover {
    color: #343a40;
}
.secondNavItem.active {
    font-weight: 500;
    color: #343a40;
}
.secondNavbar .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.badge {
    font-family: 'Roboto';
    font-weight: 300;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 0 -0.25rem 0.75rem rgba(0, 0, 0, .05);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    color: #6c757d;
}
.footer p {
    margin: 0;
}
.dropdown-menu {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    border: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

/* Dashboard Cards */
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.card-movie:hover {
    opacity: .6;
}